// Place all the styles related to the combinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.newpage{
    text-align: center;
    background-image: url("IMG1.jpg");
    background-size: cover;
    height: 1000px;
}

.toukou{
    text-align: center;
    font-family:Gabriola;
    background-image: url("IMG1.jpg");
    background-size: cover;
    height: 1000px;
}